{% extends 'base.html.twig' %}
{% block content %}
    <div class="post-preview">

        <h1>Création de votre cocktail</h1>
        {{ form_start(formCocktail) }}
        {{ form_row(formCocktail.nom,{'attr':{'placeholder' : "Nom du cocktail"}}) }}
        {{ form_row(formCocktail.description,{'attr':{'placeholder' : "Description du cocktail"}}) }}
        {{ form_row(formCocktail.origine,{'attr':{'placeholder' : "Origine du cocktail"}}) }}
        {{ form_row(formCocktail.image_url,{'attr':{'placeholder' : "http://"}}) }}
        <button type="submit" class="btn btn-success">Créer le cocktail</button>
        {{ form_end(formCocktail) }}
    </div>
{% endblock %}